/logs/JointOptimisation/*.mat
/logs/JointOptimisation/log_seed_1_JO_PS_SCA_RSMA_WMMSE_SVD_MRT.old/*.mat
/logs/JointOptimisation/logServerWJ/*.csv
/plots/
/plots/figure1/*.fig
/plots/figure1/*.eps
/plots/figure1/*.png
